.chax-popover-parent{
  position:relative;
  outline:none;
  display: inline-block;
}

.chax-popover-parent .chax-popover{
  position:absolute;
  display:none;
  z-index:10;
  top:100%;
  left:0;
  width:150px;
  height:150px;
  background: tan;
}

.chax-popover-parent:hover .chax-popover,
.chax-popover-parent .chax-popover.active{
  display:block;
}