.chax-list{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap:wrap;
	width:1200px;
	background: #FFF;
	margin-left:-6px;
	margin-right:-6px;
}

.chax-list .chax-list-item{
	margin:6px 6px;
	padding:0.4em 0.8em;
	color:#171718;
	font-size: 14px;
	white-space: nowrap;
	cursor:pointer;
	background: #FFF;
	border-radius: 2px;
}

.chax-list .chax-list-item:hover,
.chax-list .chax-list-item.active{
	color: #0057FF;
	background: #E5EEFF;
}