.chax-tab{
    display:flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    width:400px;
    height:200px;
}

.chax-tab .chax-tab-nav{
    display:flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    width:100px;
    background: #DDD;
}

.chax-tab .chax-tab-nav-item{
    background: #CCC;
}

.chax-tab .chax-tab-nav-item.active{
    cursor:pointer;
    background: tan;
}

.chax-tab .chax-tab-panel{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.chax-tab .chax-tab-panel-item{
    display:none;
    flex-grow: 1;
    height:100%;
    background: #EEE;
}

.chax-tab .chax-tab-panel-item.active{
    display:block;
}