.chax-modal{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0,0,0,0.2);
    z-index:100;
    display:none;
}
.chax-modal.active{
    display:block;
}

.chax-modal .chax-modal-content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:500px;
    height:500px;
    background: tan;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:4px;
    font-size:20px;
    font-weight: bold;
}
.chax-modal .chax-modal-content .chax-modal-close{
    position: absolute;
    cursor: pointer;
    top:20px;
    right:20px;
    font-size: 20px;
}