.chax-tooltip-parent{
    position:relative;
    outline:none;
    background: tan;
    display: inline-block;
}

.chax-tooltip-parent .chax-tooltip{
    position:absolute;
    display:none;
    z-index:10;
    top:100%;
    left:50%;
    transform: translate(-50%,10px);
    padding:0.25rem 0.5rem;
    white-space: nowrap;
    border-radius: 4px;
    background: #000;
    color:#FFF;
}

.chax-tooltip-parent:hover .chax-tooltip,
.chax-tooltip.active{
    display:block;
}

.chax-tooltip-parent .chax-tooltip::after{
    content:'';
    position:absolute;
    z-index: -1;
    bottom:100%;
    left:50%;
    transform: translate(-50%,10px) rotateZ(45deg);
    width:14px;
    height:14px;
    background: #000;
}