.chax-dropdown{
	width:160px;
	background: #FFF;
	box-shadow:0 8px 15px rgba(47,63,95,0.1);
}

.chax-dropdown .chax-dropdown-item{
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	height:34px;
	color:#171718;
	font-size: 14px;
	padding:10px 0 10px 16px;
	background: #FFF;
	cursor:pointer;
}

.chax-dropdown .chax-dropdown-item:hover,
.chax-dropdown .chax-dropdown-item.active{
	background: #F6F7F9;
	color: #0057FF;
}