.chax-modal{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0,0,0,0.2);
    z-index:100;
    display:none;
}
.chax-modal.active{
    display:block;
}
.chax-modal .chax-modal-content-baping{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /*以下内容自由调整*/
    width:500px;
    height:500px;
    background: tan;
    border-radius:4px;
    display:flex;
    font-size:20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.chax-modal .chax-modal-content-baping .chax-modal-close{
    position: absolute;
    cursor: pointer;
    /*以下内容自由调整*/
    top:20px;
    right:20px;
    font-size: 20px;
}